<h1>Potentially Accurate Information About This Rock</h1>

<%= @rock.location_found %>
<%= @rock.description %>

<div class="media-left">
    <%= link_to image_tag(@rock.image.url, class: 'media-object'), @rock.image.url, target: '_blank' %>
  </div>

<h2>Web Detection</h2>

<div id="web_detection">
  <% @web_info.each do |info| %>
    <ul>
      <li> Score: <%= info.score %> </li>
      <li> Description: <%= info.description %> </li>
    </ul>
  <% end %>
</div>

<h2>Label Detection</h2>

<div id="rock-labels">
  <% @label_info.each do |label| %>
    <ul>
      <li> Score: <%= label.score %> </li>
      <li> Description: <%= label.description %> </li>
    </ul>
  <% end %>
</div>
