<!DOCTYPE html>
<html>
  <head>
    <meta name="google-site-verification" content="dzSvXM4RB-EMyYKUmlEQBDxl08SEnoB31c-hiiaWzEM"
    <title>GneissRocks</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Rocks', root_path %></li>
            <li><%= link_to 'Upload Your Photo', new_rock_path %></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
